@font-face {
    font-family: "Inter";
    src: url("../fonts/inter-400.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/inter-700.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/inter-900.woff2") format("woff2");
    font-style: normal;
    font-weight: 900;
    font-display: swap;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
}

img {
    object-fit: cover;
    object-position: center;
    max-width: 100%;
}

body {
    font-family: "Inter", "Geneva", sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #2D3440;

    background-color: #FEAFC3;

    display: flex;
    flex-direction: column;

    max-width: 1200px;
    min-height: 100%;

    margin: 0 auto;
    padding: 0 15px;
}

.main {
    flex-grow: 1;
}

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;

    white-space: nowrap;

    border: 0;

    clip: rect(0 0 0 0);
    clip-path: inset(100%);
  }

.list-reset {
    margin: 0;
    padding: 0;

    list-style: none;
}

.navigation {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding: 24px 0;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;

    max-width: 553px;
    margin-left: 16px;
}

.navigation-logo {
    min-width: 137px;
}

.navigation-logo img {
    display: block;
}

.user-navigation-list {
    display: flex;
    flex-wrap: wrap;
}

.user-navigation-item {
    margin-left: 16px;

    position: relative;
}

.navigation-item {
    position: relative;
}

.navigation-link {
    text-decoration: none;

    line-height: 20px;
    color: inherit;

    padding: 6px 14px;
    border: 2px solid transparent;
    border-radius: 30px;
}

.user-navigation-link {
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    color: inherit;

    padding: 4px 14px 4px 36px;
    border: 2px solid transparent;
    border-radius: 20px;
    display: block;

    background-color: rgba(252, 252, 252, 0.3);

    position: relative;
}

.phone-link {
    text-decoration: none;

    font-weight: 700;
    line-height: 20px;
    color: inherit;

    margin-left: auto;
    padding: 18px 0;
}

.user-navigation-search {
    padding: 14px;
}

.user-navigation-search .user-navigation-icon {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.user-navigation-icon {
    fill: #2D3440;

    position: absolute;
    left: 15px;
    top: 7px;
}

.slider {
    display: grid;
    grid-template-columns: 540px auto;
    padding-top: 20px;
}

.slider-item {
    display: none;
    width: 540px;
    padding: 115px 30px 115px 70px;
}

.slider-item-active {
    display: block;
}

.slider-buttons-wrapper {
    position: relative;
}

.slider-thumbnails {
    display: grid;
    align-items: center;

    gap: 40px;
    grid-template-columns: 350px 100px 100px;
}

.slider-thumbnails-item {
    position: relative;

    width: 100px;
    height: 150px;

    opacity: 0.4;
}

.slider-thumbnails-item::before {
    content: "";

    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #FFCBD8;

    position: absolute;
    top: 25px;
    z-index: -1;
}

.slider-thumbnails-item-active::before {
    width: 312px;
    height: 312px;
    top: 100px;
}

.slider-thumbnails-item img {
    display: block;
    width: auto;
    height: 100%;
    margin: 0 auto;
}

.slider-thumbnails-item-active {
    width: 306px;
    height: 507px;
    margin: 0 auto;
    opacity: 1;
}

.slider-item h3 {
    font-size: 36px;
    line-height: 46px;
    font-weight: 900;

    margin: 0;
    margin-bottom: 24px;
}

.slider-item p {
    font-size: 18px;
    line-height: 24px;

    margin: 0;
    margin-bottom: 48px;
}

.slider-buttons {
    position: absolute;
    top: 50%;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 355px;
    transform: translateY(-50%);
  }

  .slider-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    color: #FCFCFC;
    background-color: rgba(252, 252, 252, 0.3);
    border: 2px solid #FCFCFC;
    border-radius: 50%;
  }

  .slider-button-back {
    transform: rotate(180deg);
  }

.slider-bullet {
    display: flex;
    align-items: flex-end;
}

.slider-bullet-item {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid transparent;

    background-color: rgba(252, 252, 252, 0.3);

    display: block;
    padding: 0;
    margin-right: 8px;

    cursor: pointer;
}

.slider-bullet-item-active {
    background-color: #FCFCFC;
}

.social-list {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(3, 24px);
  margin-left: auto;
}

.social-link {
    display: block;

    width: 24px;
    height: 24px;

    border-radius: 50%;
    outline: 2px solid rgba(252, 252, 252, 0.3);
}


.button {
    display: inline-block;

    padding: 10px 30px;

    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #2D3440;
    text-decoration: none;
    text-align: center;

    border: 2px solid transparent;
    border-radius: 26px;
    outline: 4px solid rgba(252, 252, 252, 0.4);
    box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);

    cursor: pointer;
}

.main-button {
    background-color: #FCFCFC;
}

.form-button {
    color: #FCFCFC;
    background-color: #FF2F64;
    outline: 4px solid rgba(255, 47, 100, 0.3);
}

.subtitle {
    font-size: 32px;
    line-height: 46px;
    font-weight: 900;

    margin: 0;

    text-align: center;
}

.promotion {
    padding: 80px 0 40px;
}

.promotion .subtitle {
    width: 434px;

    margin: 0 auto 55px;
}

.promotion-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.promotion-item {
    padding: 36px;
    padding-right: 206px;

    background-color: #FF7799;
    background-repeat: no-repeat;
    background-position: right bottom;

    border-radius: 16px;
}

.promotion-item-raspberry {
    background-image: url("../images/backgrounds/banner1.png");
}

.promotion-item-marshmallow {
    background-image: url("../images/backgrounds/banner2.png");
}

.promotion-item h4 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;

    margin: 0;
    margin-bottom: 28px;
}

.promotion-item p {
    margin: 0;
    margin-bottom: 28px;
}

.catalog .subtitle {
    width: 527px;
    margin: 0 auto 56px;
}

.catalog-popular {
    padding: 41px 0 80px;
}

.catalog-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 30px;
}

.catalog-item {
    padding-top: 51px;

    position: relative;

    display: flex;
}

.catalog-item-wrapper {
    background-color: #FCFCFC;

    padding: 0 40px 24px;
    border-radius: 8px;
    width: 100%;

    display: flex;
    flex-direction: column;
}

.catalog-item-img {
    margin: -51px auto 16px;

    width: 168px;
    height: 168px;
    order: -1;

    filter: drop-shadow(0 4px 12px rgba(45, 52, 64, 0.1));
}

.catalog-item-img img {
    width: 100%;
    height: 100%;
    display: block;

    border-radius: 50%;
}

.catalog-item-title,
.catalog-item-price {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
}

.catalog-item-title {
    text-align: center;

    margin: 0;
    margin-bottom: 8px;
}

.catalog-item-descript {
    color: #565C66;
    text-align: center;

    margin: 0;
    margin-bottom: 16px;
}

.catalog-basket-wrapper {
    margin-top: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.catalog-item-basket {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF2F64;

    width: 32px;
    height: 32px;

    border-radius: 50%;
}

.catalog-item-basket svg {
    fill: #FCFCFC;
}


.advantages {
    background-image: url("../images/backgrounds/adv-pattern.jpg");
    background-repeat: repeat;

    padding: 24px;
    margin-bottom: 80px;

    border-radius: 16px;
}

.advantages-wrapper {
    background-color: #FCFCFC;

    border-radius: 16px;

    padding: 56px 40px;
}

.advantages-wrapper .subtitle {
    margin-bottom: 56px;
}

.advantages-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 32px;
}

.advantages-item {
    padding-left: 64px;
    position: relative;
}

.advantages-item::before {
    content: "";

    width: 48px;
    height: 48px;
    border: 2px solid #2D3440;
    border-radius: 50%;

    position: absolute;
    left: 0;
    top: 0;

    background-repeat: no-repeat;
    background-position: center;
}

.advantages-item-icecream::before {
    background-image: url("../images/icons/icecream.svg");
}

.advantages-item-cow::before {
    background-image: url("../images/icons/cow.svg");
}

.advantages-item-quality::before {
    background-image: url("../images/icons/leaf.svg");
}

.advantages-item-temperature::before {
    background-image: url("../images/icons/thermometer.svg");
}

.blog-subscribe {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    padding-bottom: 80px;
}

.blog-promo {
    background-color: #FCFCFC;
    background-image: url("../images/backgrounds/news-background.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;


    padding: 32px;
    padding-right: 235px;
    height: 100%;

    border-radius: 16px;
}

.blog-promo-text {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;

    margin: 0;
    margin-bottom: 12px;
}

.blog-promo-link {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #2D3440;
    text-decoration: none;
}

.subscribe {
    background-image: url("../images/backgrounds/subscribe-pattern.jpg");
    background-repeat: repeat;

    padding: 6px;

    border-radius: 16px;

    display: flex;
}

.subscribe-wrapper {
    background-color: #FCFCFC;

    padding: 26px;
    padding-bottom: 28px;

    border-radius: 16px;
}

.subscribe-wrapper p {
    margin: 0;
    margin-bottom: 42px;
}

.subscribe-form {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 18px;
}

.subscribe-form .button {
    margin: 2px 0;
}

.form-input {
    border: 1px solid #B9B9B9;
    border-radius: 4px;
    background-color: #FFFFFF;

    width: 100%;
    height: 48px;
    padding: 5px 15px;

    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    font-family: "Inter", "Geneva", sans-serif;
    color: #2D3440;
}

.form-input::placeholder {
    color: #B9B9B9;
}

.form-input::-webkit-input-placeholder {
    color: #B9B9B9;
}

.form-input::-moz-placeholder {
    color: #B9B9B9;
}

.delivery {
    background-color: #F6F6F6;
    background-image: url("../images/backgrounds/delivery-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 64px;
    padding-left: 100px;
    margin-bottom: 80px;

    border-radius: 16px;
}

.delivery-text-wrapper {
    width: 371px;
    margin-top: 7px;
}

.delivery-text {
    margin: 0;
}

.delivery-text-wrapper .subtitle {
    text-align: start;

    margin-bottom: 24px;
}

.delivery-form-wrapper {
    background-color: #FCFCFC;
    box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);

    width: 500px;
    border-radius: 8px;

    padding: 40px;
}

.delivery-form-wrapper > p {
    margin: 0;
    margin-bottom: 17px;
}

.delivery-form {
    display: grid;
    grid-template-columns: 117px 1fr;
    gap: 20px 16px;

    padding-top: 15px;
}

.delivery-form-group-address {
    grid-column: 1/-1;
}

.delivery-form p {
    margin: 0;
    margin-top: auto;
}

.delivery-form-label {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;

    display: inline;
    margin-bottom: 8px;
}

.delivery-form-button {
    grid-column: 1/-1;

    margin: 12px auto 0;
}

.delivery-form-group {
    position: relative;
}

.delivery-form .form-input {
    margin-top: 8px;
}

.tooltip {
    position: relative;
}

.tooltip-toggle {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}

.tooltip-text {
    position: absolute;
    top: -10px;
    left: 21px;
    z-index: 1;

    display: none;
    max-width: 170px;
    width: max-content;

    background-color: #FCFCFC;

    border: 1px solid #B9B9B9;
    padding: 10px 8px;

    color: #565C66;
    font-size: 12px;
    line-height: 16px;
}

.tooltip-text::before {
    content: "";

    position: absolute;
    top: 13px;
    left: -5px;

    width: 10px;
    height: 10px;

    border-style: solid;
    border-width: 1px;
    border-color: #B9B9B9 transparent transparent #B9B9B9;
    background-color: #FCFCFC;

    transform: rotate(-45deg);
}

.tooltip-toggle:hover + .tooltip-text {
    display: block;
}

.contacts {
    background-color: #F6F6F6;
    background-image: url("../images/backgrounds/contacts-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    padding: 64px;
    padding-bottom: 66px;

    border-radius: 16px;
}

.contacts-wrapper {
    background-color: #FCFCFC;
    box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);

    width: 343px;
    padding: 40px;

    border-radius: 8px;
}

.contacts-subtitle {
    display: inline-block;

    font-weight: 400;

    margin: 0;
    margin-bottom: 12px;
}

.contacts-address {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    color: #2D3440;

    margin-bottom: 24px;
}

.contacts-info {
    display: inline-block;

    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    color: #2D3440;
}

.contacts-schedule {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    display: block;

    margin-bottom: 32px;
}

.main-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 44px 0;
}

.footer-social-list {
    min-width: 209px;
    margin-left: 0;
    padding-left: 3px;
}

.footer-navigation-list {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 8px 24px;

    padding-left: 24px;
}

.footer-navigation-link {
    display: block;
    font-size: 14px;
    line-height: 20px;

    text-decoration: none;
    color: #2D3440;
}

.footer-navigation-heart {
    font-weight: 700;

    position: relative;
}

.footer-navigation-heart::before {
    content: "";

    width: 16px;
    height: 16px;

    background-image: url("../images/icons/heart.svg");
    background-repeat: no-repeat;

    position: absolute;
    left: -24px;
    top: 2px;
}

.inner-footer {
    border-top: 1px solid rgba(252, 252, 252, 0.3);
    padding: 48px 0;
}

.copyright {
    padding-right: 14px;
}

.copyright-link-image {
    display: inline-block;
    margin-bottom: 10px;
}

.copyright-link-image img {
    display: block;

    width: 100%;
    height: 100%;
}

.copyright-text {
    margin: 0;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
}

.copyright-link-text {
    color: #2D3440;
    display: inline-block;
    text-underline-offset: 2px;
}

.breadcrumbs {
    padding-top: 32px;
}

.breadcrumbs .subtitle {
    text-align: start;
}

.breadcrumbs-list {
    display: flex;
    margin-bottom: 16px;
}

.breadcrumbs-item {
    display: flex;
    align-items: center;
    margin-right: 28px;
    position: relative;
}

.breadcrumbs-item:not(:last-child)::after {
    content: "";

    width: 7px;
    height: 6px;

    background-image: url("../images/icons/breadcrumbs-arrow.svg");
    position: absolute;
    top: 7px;
    right: -18px;
}

.breadcrumbs-link {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    text-decoration: none;
    color: #2D3440;
}

.breadcrumbs-link + svg {
    width: 12px;
    height: 12px;
    padding: 2px;
    fill: #2D3440;
}

.breadcrumbs-item:last-child .breadcrumbs-link {
    text-decoration: underline;
    text-underline-offset: 3px;
}

.catalog-filters {
    padding: 40px 0 28px;
}

.catalog-filters-form {
    display: flex;
    flex-wrap: wrap;
}

.catalog-filters-item {
    border: none;
    padding: 0;
    margin: 0 24px 16px 0;

    position: relative;
}

.range-wrapper-inputs {
    display: flex;
    justify-content: center;
    position: absolute;
    top: -28px;
    left: 58px;
}

.catalog-filter-separator {
    line-height: 18px;
}

.range-input {
    width: 30px;
    padding: 0 2px;
    text-align: center;
    font: inherit;
    color: #2D3440;
    background-color: transparent;
    border: none;
    appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
    display: inline;
}

.range {
    padding: 17px 16px;
    background-color: rgba(252, 252, 252, 0.3);
    border-radius: 20px;
}

.range-scale {
    background-color: rgba(86, 92, 102, 0.3);
    height: 2px;
    border-radius: 16px;
    position: relative;
}

.range-bar {
    height: 2px;
    background-color: rgba(86, 92, 102, 1);
    position: absolute;
}

.range-toggle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #2D3440;
    border: none;

    position: absolute;
    top: -7px;
}

.toggle-min {
    left: -16px;
}

.toggle-max {
    right: -16px;
}

.range-toggle::before {
    content: "";

    width: 4px;
    height: 4px;
    background-color: #FCFCFC;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    left: 6px;
}

.catalog-filters-range {
    width: 196px;
}

.catalog-filters-wrapper label {
    position: relative;
    padding-left: 25px;
    line-height: 20px;
}

.control-radio {
    width: 16px;
    height: 16px;
    border: 1px solid #2D3440;
    border-radius: 50%;
    display: inline-block;

    position: absolute;
    left: 0;
    top: 1px;
}

input[type="radio"]:checked + .control-radio::before {
    content: "";

    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #2D3440;
    position: absolute;
    top: 4px;
    left: 4px;
}

.control-checkbox {
    width: 16px;
    height: 16px;
    mask-image: url("../images/icons/checkbox-border.svg");
    -webkit-mask-image: url("../images/icons/checkbox-border.svg");
    background-color: #2D3440;
    position: absolute;
    top: 1px;
    left: 0;
}

input[type="checkbox"]:checked + .control-checkbox {
    mask-image: url("../images/icons/checkbox.svg");
    -webkit-mask-image: url("../images/icons/checkbox.svg");
}

.filter-subtitle {
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;

    margin: 0 0 8px 16px;
    padding: 0;
}

.filters-option {
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
}

.catalog-filters-item select {
    font-family: "Inter", "Geneva", sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;

    background-color: rgba(252, 252, 252, 0.3);

    border: none;
    border-radius: 20px;

    padding: 8px 63px 8px 16px;

    appearance: none;
}

.select-arrow {
    position: absolute;
    top: 15px;
    right: 20px;
}

.select-arrow::before {
    content: "";

    width: 1px;
    height: 8px;
    background-color: #2D3440;

    position: absolute;

    transform: rotate(45deg);
}

.select-arrow::after {
    content: "";

    width: 1px;
    height: 8px;
    background-color: #2D3440;

    position: absolute;
    right: 4px;

    transform: rotate(-45deg);
}


.catalog-price-input {
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
}

.catalog-filter-label {
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
    margin-right: 5px;
}

.catalog-filters-wrapper {
    border-radius: 20px;
    background-color: rgba(252, 252, 252, 0.3);
    display: flex;
    flex-wrap: wrap;
    padding: 8px 24px;
}

.catalog-filters-checkbox {
    margin-right: 16px;
}

.catalog-filters-checkbox .catalog-filters-wrapper {
    padding: 10px 24px;
}

.catalog-filters-button {
    font-size: 14px;
    background-color: rgba(252, 252, 252, 0.3);

    align-self: center;
    margin-top: 10px;

    outline: none;
    border: 2px solid #FCFCFC;
    padding: 8px 52px;
}

.catalog-filters-wrapper p {
    font-size: 14px;
    line-height: 20px;

    margin: 0;
    margin-right: 16px;
}

.catalog-filters-wrapper p:last-child {
    margin-right: 0;
}

.pagination-main-button {
    margin: 0 auto;
    display: block;
}

.pagination-wrapper {
    position: relative;

    padding-top: 57px;
    padding-bottom: 40px;
    margin-bottom: 40px;
}

.pagination {
    display: flex;
    align-items: center;

    position: absolute;
    right: 0;
    top: 67px;
}

.pagination-list {
    display: flex;
    margin: 0 8px;
}

.pagination-link {
   line-height: 20px;
   text-decoration: none;
   color: #2D3440;

   min-width: 24px;
   min-height: 24px;

   border: 1px solid transparent;
   border-radius: 76px;

   display: flex;
   justify-content: center;
   align-items: center;
}

.pagination-link-active {
    background-color: #FCFCFC;
}

.pagination-arrow {
    border: none;
    width: 16px;
    height: 16px;
    padding: 0;
    background: none;
    color: transparent;

    position: relative;

    cursor: pointer;
}

.pagination-arrow:disabled {
    opacity: 40%;
    cursor: default;
    pointer-events: none;
}

.pagination-arrow-next {
    transform: rotate(180deg);
}

.pagination-arrow::before {
    content: "";

    width: 1px;
    height: 7px;

    position: absolute;
    left: 7px;
    top: 2px;

    background-color: #2D3440;

    border-radius: 20px;

    transform: rotate(45deg);
}

.pagination-arrow::after {
    content: "";

    width: 1px;
    height: 7px;

    position: absolute;
    top: 7px;
    right: 8px;

    background-color: #2D3440;

    border-radius: 20px;

    transform: rotate(-45deg);
}

/* состояния элементов */
.link-style:hover {
    filter: drop-shadow(0 0 5px #FFFFFF);
    transform: scale(1.05);
}

.link-style:focus {
    outline: 2px solid #2D3440;
}

.link-style:active {
    opacity: 0.5;
    outline: none;
    transform: scale(1);
}

.navigation-link:hover {
    background-color: rgba(252, 252, 252, 0.5);
}

.navigation-link:focus {
    background-color: rgba(252, 252, 252, 0.5);
    border-color: rgba(45, 52, 64, 1);
    outline: none;
}

.navigation-link:active {
    background-color: rgba(252, 252, 252);
    border-color: transparent;
}


.user-navigation-link:hover {
    background-color: rgba(252, 252, 252, 0.5);
}

.user-navigation-link:focus {
    background-color: rgba(252, 252, 252, 0.5);
    border-color: rgba(45, 52, 64, 1);
    outline: none;
}

.user-navigation-link:active {
    background-color: rgba(252, 252, 252);
    border-color: transparent;
}

.navigation-link-selected {
    background-color: #FF4A78;
    color: #FCFCFC;
}

.navigation-link-selected:hover {
    background-color: #FF4A78;
    color: #FCFCFC;
}

.user-navigation-link-selected {
    background-color: #FF4A78;
    color: #FCFCFC;
}

.usernavigation-link-selected:hover {
    background-color: #FF4A78;
    color: #FCFCFC;
}

.slider-button:hover {
    background-color: #FCFCFC;
    color: #2D3440;
}

.slider-button:focus {
    border-color: #2D3440;
    background-color: rgba(252, 252, 252, 0.3);
    color: #2D3440;
    outline: none;
}

.slider-button:active {
    border-color: transparent;
    background-color: rgba(252, 252, 252, 0.5);
}

.slider-button:disabled {
    border-color: rgba(252, 252, 252, 0.4);
    background-color: rgba(252, 252, 252, 0.3);
}

.slider-bullet-item:hover {
    border-color: rgba(252, 252, 252, 1);
}

.slider-bullet-item:focus {
    border-color: #2D3440;
    outline: none;
}

.slider-bullet-item:active {
    border-color: transparent;
    background-color: #FCFCFC;
}

.social-link:hover {
    background-color: #2D3440;
}

.social-link:focus {
    background-color: #2D3440;
    outline-color: #2D3440;
}

.social-link:active {
   opacity: 0.5;
}

.main-button:hover {
    background-color: rgba(252, 252, 252, 0.4);
    outline-color: #FCFCFC;
}

.main-button:focus {
    background-color: rgba(252, 252, 252, 0.5);
    outline: 2px solid rgba(45, 52, 64, 1);
}

.main-button:active {
    background-color: rgba(252, 252, 252, 1);
}

.main-button-disabled {
    background-color: #E7E7E7;
    outline-color: rgba(252, 252, 252, 0.4);
    color: #B9B9B9;
    cursor: default;
    pointer-events: none;
}

.form-button:hover {
    background-color: rgba(252, 252, 252, 0.3);
    outline-color: #FF2F64;
    color: #2D3440;
}

.form-button:focus {
    background-color: #FF2F64;
    outline: 2px solid #2D3440;
    color: #FCFCFC;
}

.form-button:active {
    background-color: #FEAFC3;
    outline: 2px solid #2D3440;
    color: #FCFCFC;
}

.form-button:disabled {
    background-color: #B9B9B9;
    outline: 4px solid rgba(185, 185, 185, 0.3);
    color: #565C66;
}

.catalog-item-basket:hover {
    background-color: #FCFCFC;
    border: 2px solid #FF2F64;
}

.catalog-item-basket:hover svg {
    fill: #000000;
}

.catalog-item-basket:focus {
    background-color: #FF2F64;
    border: 2px solid #2D3440;
    outline: none;
}

.catalog-item-basket:focus svg {
    fill: #FCFCFC;
}

.catalog-item-basket:active {
    background-color: #FFCBD8;
    border: 2px solid #FF2F64;
}

.catalog-item-basket:active svg {
    fill: #000000;
}

.basket-disabled {
    background-color: rgba(185, 185, 185, 1);
    border: transparent;
    cursor: default;
    pointer-events: none;
}

.basket-disabled svg {
    fill: rgba(86, 92, 102, 1);
}

.pagination-link:hover {
    background-color: rgba(252, 252, 252, 0.5);
}

.pagination-link:focus {
    background-color: rgba(252, 252, 252, 0.5);
    border: 1px solid rgba(45, 52, 64, 1);
    outline: none;
}

.pagination-link:active {
    background-color: rgba(252, 252, 252, 0.5);
    border: 1px solid rgba(252, 252, 252, 1);
}

.pagination-arrow:hover {
    transform: scale(1.3);
}

.pagination-arrow-next:hover {
    transform: rotate(180deg) scale(1.3);
}

.pagination-arrow-next:active {
    transform: rotate(180deg) scale(1);
}

.form-input:hover {
    border-color: #2D3440;
}

.form-input:hover::-webkit-input-placeholder {
    color: #2D3440;
}

.form-input:hover::-moz-placeholder {
    color: #2D3440;
}

.form-input:focus {
    outline: 2px solid #2D3440;
}

.form-input:focus::-webkit-input-placeholder {
    color: #2D3440;
}

.form-input:focus::-moz-placeholder {
    color: #2D3440;
}

.form-input-error {
    border-color: #EA5454;
}

.form-input-error:hover,
.form-input-error:focus {
    outline: 2px solid #EA5454;
}

.form-input:disabled:hover {
    border: 1px solid #B9B9B9;
}

.form-input:disabled:hover::-webkit-input-placeholder {
    color: #B9B9B9;
}

.form-input:disabled:hover::-moz-placeholder {
    color: #B9B9B9;
}

.catalog-filters-item select:hover {
    background-color: rgba(252, 252, 252, 0.5);
}

.catalog-filters-item select:focus {
    background-color: rgba(252, 252, 252, 0.4);
    outline: 2px solid #FCFCFC;
}

.range-toggle:hover {
    background-color: #FCFCFC;
}

.range-toggle:hover::before {
    background-color: #2D3440;
}

.range-toggle:focus {
    background-color: #FCFCFC;
    outline: 2px solid #2D3440;
}

.range-toggle:focus::before {
    background-color: #2D3440;
}

.range-toggle:active {
    background-color: #2D3440;
    outline: none;
}

.range-toggle:active::before {
    background-color: #2D3440;
}

input[type="radio"]:hover + .control-radio {
    border-color: #FCFCFC;
}

input[type="radio"]:hover + .control-radio::before {
    background-color: #FCFCFC;
}

input[type="radio"]:focus + .control-radio {
    border-color: #FCFCFC;
}

input[type="radio"]:focus + .control-radio::before {
    background-color: #FCFCFC;
}

input[type="radio"]:disabled + .control-radio {
    border-color: #2D3440;
    opacity: 0.4;
}

input[type="radio"]:disabled + .control-radio::before {
    background-color: #2D3440;
    opacity: 0.4;
}

input[type="checkbox"]:hover + .control-checkbox {
    background-color: #FCFCFC;
 }

input[type="checkbox"]:focus + .control-checkbox {
   background-color: #FCFCFC;
}

input[type="checkbox"]:disabled + .control-checkbox {
    background-color: #2D3440;
    opacity: 0.4;
 }

.catalog-filters-button:hover {
    background-color: #FCFCFC;
    outline: 2px solid rgba(252, 252, 252, 0.3);
}

.catalog-filters-button:focus {
    background-color: rgba(252, 252, 252, 0.3);
    outline: 2px solid #2D3440;
    border-color: transparent;
}

.catalog-filters-button:active {
    background-color: rgba(252, 252, 252, 0.5);
    outline: none;
}

.catalog-filters-button:disabled {
  opacity: 0.3;
  pointer-events: none;
}

.form-button-loading {
    padding-right: 56px;
    position: relative;
    pointer-events: none;
}

.form-button-loading::after {
    content: "";

    width: 16px;
    height: 16px;
    border-radius: 50%;

    position: absolute;
    right: 32px;
    top: 14px;

    border-top: 2px solid rgba(252, 252, 252, 0.25);
    border-right: 2px solid rgba(252, 252, 252, 0.25);
    border-bottom: 2px solid rgba(252, 252, 252, 0.25);
    border-left: 2px solid #FCFCFC;
    transform: translateZ(0);
    animation: load8 1s infinite linear;
}

.main-button-loading {
    padding-right: 56px;
    position: relative;
    pointer-events: none;
}

.main-button-loading::after {
    content: "";

    width: 16px;
    height: 16px;
    border-radius: 50%;

    position: absolute;
    right: 32px;
    top: 14px;

    border-top: 2px solid rgba(45, 52, 64, 0.25);
    border-right: 2px solid rgba(45, 52, 64, 0.25);
    border-bottom: 2px solid rgba(45, 52, 64, 0.25);
    border-left: 2px solid #2D3440;
    transform: translateZ(0);
    animation: load8 1s infinite linear;
}

@keyframes load8 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Поповеры и модальные окна */

.popover {
    background-color: #FCFCFC;

    border-radius: 4px;

    z-index: 1;

    display: none;

    position: absolute;
    top: 40px;
    right: 0;
}

.popover-open {
    display: block;
}

.popover-basket {
    width: 441px;
    padding: 48px;
    box-sizing: border-box;

    box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
}

.popover-content {
    height: 100%;
}

.popover-title {
    margin: 0;
    margin-bottom: 32px;
    line-height: 30px;
}

.popover-basket-list {
    margin-bottom: 30px;
}

.popover-basket-item {
    display: grid;
    grid-template-columns: 46px 180px 106px 16px;
    margin-bottom: 24px;
}

.basket-item-descript {
    margin-left: 16px;
}

.basket-item-descript p,
.basket-item-descript h3,
.popover-basket-item-price {
    margin: 0;
}

.basket-item-descript h3 {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 4px;
}

.basket-item-descript p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #B9B9B9;
}

.popover-basket-item-price {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    margin: auto 0;
}

.popover-basket-item-delete {
    border: none;
    background: none;
    width: 16px;
    height: 16px;

    position: relative;
    top: 8px;
    right: 4px;
    cursor: pointer;
}

.popover-basket-item-delete::before {
    content: "";
    width: 1px;
    height: 13px;

    background-color: #2D3440;
    position: absolute;

    transform: rotate(45deg);
}

.popover-basket-item-delete::after {
    content: "";
    width: 1px;
    height: 13px;

    background-color: #2D3440;
    position: absolute;

    transform: rotate(-45deg);
}

.popover-basket-order {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 32px;
    border-top: 1px solid #E7E7E7;
}

.popover-basket-total {
    margin: 0;

    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
}

.popover-basket-empty {
    width: 288px;
    box-sizing: border-box;
    padding: 48px 0;

    box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
}

.popover-basket-empty h2 {
    text-align: center;
    margin: 0;
    line-height: 30px;
}

.popover-login {
    width: 420px;
    padding: 48px;
    padding-bottom: 52px;

    filter: drop-shadow(0 15px 40px rgba(45, 52, 64, 0.12));
}


.login-form-input {
    margin-bottom: 16px;
}

.form-button-login-wrapper {
    display: grid;
    grid-template-columns: 113px 1fr;
    column-gap: 23px;

    margin-top: 16px;
}

.form-button-login {
    grid-row: 1/3;
}

.form-button-login-wrapper a {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    color: #2D3440;

    text-underline-offset: 3px;
}

.form-button-login-wrapper a:not(:last-child) {
    margin-bottom: 4px;
}

.popover-search {
    padding: 24px 16px;
    width: 356px;
    box-sizing: border-box;
    filter: drop-shadow(0 8px 16px rgba(45, 52, 64, 0.12));
}

.popover-catalog {
    left: 0;
    right: unset;

    padding: 8px 0;

    top: 36px;

    box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
}

.popover-catalog-title {
    padding: 8px 0 12px;
    margin: 0 16px 3px;

    font-size: 14px;
    font-weight: 700;
    line-height: 20px;

    border-bottom: 1px solid #B9B9B9;
}

.popover-catalog-list {
    list-style: none;
    padding: 0;
    width: max-content;
}

.popover-catalog-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;
    color: #2D3440;

    padding: 6px 15px;
    display: block;
}

.popover-catalog-link:hover {
    background-color: #FFCBD8;
}

.popover-catalog-link:focus {
    background-color: #FF4A78;
    color: #FCFCFC;
}

.popover-catalog-link:active {
    background-color: #FF7799;
    color: #2D3440;
}

.popover-basket-item-delete:hover::before,
.popover-basket-item-delete:hover::after {
    filter: drop-shadow(0 0 5px #FF2F64);
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(45, 52, 64, 0.3);
    display: none;
}

.modal-container-open {
    display: flex;
}

.modal {
    margin: auto;
    background-color: #FCFCFC;
    padding: 64px;
    border-radius: 8px;

    width: 570px;
    box-sizing: border-box;

    position: relative;
}

.modal-close-button {
    border: none;
    background: none;

    width: 20px;
    height: 20px;

    position: absolute;
    top: 32px;
    right: 32px;
}

.modal-close-button::before {
    content: "";

    width: 1px;
    height: 15px;
    background-color: #2D3440;
    border-radius: 2px;

    position: absolute;
    top: 1px;

    transform: rotate(45deg);
}

.modal-close-button::after {
    content: "";

    width: 1px;
    height: 15px;
    background-color: #2D3440;
    border-radius: 2px;

    position: absolute;
    top: 1px;

    transform: rotate(-45deg);
}

.modal-close-button:hover {
    transform: scale(1.3);
}

.modal-close-button:disabled {
    opacity: 0.4;
    pointer-events: none;
}

.modal-title {
    margin: 0;
    margin-bottom: 32px;

    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}

.modal-content .form-input {
    margin-bottom: 16px;
}

.modal-content .form-textarea {
    margin-bottom: 32px;

    min-height: 149px;

    resize: none;
}

.modal-form-button {
  margin-left: auto;
  display: block;
}
