@font-face {
    font-family: "Inter";
    src: url("../fonts/inter-400.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "Inter";
    src: url("../fonts/inter-700.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: "Inter";
    src: url("../fonts/inter-900.woff2") format("woff2");
    font-style: normal;
    font-weight: 900;
    font-display: swap;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
}

img {
    object-fit: cover;
    object-position: center;
    max-width: 100%;
}

body {
    font-family: "Inter", "Geneva", sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #2D3440;

    background-color: #FEAFC3;

    display: flex;
    flex-direction: column;

    max-width: 1200px;
    min-height: 100%;

    margin: 0 auto;
    padding: 0 15px;
}

.main {
    flex-grow: 1;
}


.visually-hidden {
    position: absolute;
  
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
  
    white-space: nowrap;
  
    border: 0;
  
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
  }

.list-reset {
    margin: 0;
    padding: 0;

    list-style: none;
}

.navigation {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding: 24px 0 32px;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;

    max-width: 553px;
}

.navigation-logo {
    min-width: 137px;
}

.navigation-logo img {
    display: block;
}

.user-navigation-list {
    display: flex; 
    flex-wrap: wrap;  
}

.user-navigation-item {
    margin-left: 16px;
}

.navigation-link {
    text-decoration: none;

    line-height: 20px;
    color: inherit;

    padding: 8px 12px;
    border: 2px solid transparent;
    border-radius: 30px;
}

.user-navigation-link {
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    color: inherit;

    padding: 6px 14px 6px 36px;
    border: 2px solid transparent;
    border-radius: 20px;
    display: block;

    background-color: rgba(252, 252, 252, 0.3);
    
    position: relative;
}

.phone-link {
    text-decoration: none;

    font-weight: 700;
    line-height: 20px;
    color: inherit;

    margin-left: auto;
    padding: 18px 0;
}

.user-navigation-search {
    padding: 16px;
}

.user-navigation-search .user-navigation-icon {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.user-navigation-icon {
    fill: #2D3440;

    position: absolute;
    left: 14px;
    top: 8px;
}

.slider {
    display: grid;
    grid-template-columns: 540px auto;
    padding-top: 24px;
}

.slider-item {
    display: none;
    width: 540px;
    padding: 115px 30px 115px 70px;
}

.slider-item-active {
    display: block; 
}

.slider-buttons-wrapper {
    position: relative;
}

.slider-thumbnails {
    display: grid;
    align-items: center;
  
    gap: 40px;
    grid-template-columns: 350px 100px 100px;
}

.slider-thumbnails-item {
    position: relative;

    width: 100px;
    height: 150px;
  
    opacity: 0.4;  
}

.slider-thumbnails-item::before {
    content: "";

    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #FFCBD8;

    position: absolute;
    top: 25px;
    z-index: -1;
}

.slider-thumbnails-item-active::before {
    width: 312px;
    height: 312px;
    top: 100px;
}

.slider-thumbnails-item img {
    display: block;
    width: auto;
    height: 100%;
    margin: 0 auto;
}

.slider-thumbnails-item-active {
    width: 306px;
    height: 507px;
    margin: 0 auto;
    opacity: 1;
}

.slider-item h3 {
    font-size: 36px;
    line-height: 46px;
    font-weight: 900;

    margin: 0;
    margin-bottom: 24px;
}

.slider-item p {
    font-size: 18px;
    line-height: 24px;

    margin: 0;
    margin-bottom: 48px;
}

.slider-buttons {
    position: absolute;
    top: 0;
}

.slider-button {
    background-color: rgba(252, 252, 252, 0.3);
    border: 2px solid #FCFCFC;
    
    padding: 0;
    width: 38px;
    height: 38px;
    border-radius: 50%;

    position: absolute;
    top: 235px;
    left: 2px;

    cursor: pointer;
}

.slider-button::before {
    content: "";

    width: 2px;
    height: 10px;

    background-color: #FCFCFC;
    border-radius: 20px;

    transform: rotate(45deg);
    
    position: absolute;
    left: 15px;
    top: 9px;
}

.slider-button::after {
    content: "";

    display: block;
    width: 2px;
    height: 10px;

    background-color: #FCFCFC;
    border-radius: 20px;

    transform: rotate(-45deg);
    
    position: absolute;
    top: 15px;
    left: 15px;
    
}

.slider-button-forward {
    transform: rotate(180deg);
    left: 315px;
}

.slider-bullet {
    display: flex;
    align-items: flex-end;
}

.slider-bullet-item {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid transparent;

    background-color: rgba(252, 252, 252, 0.3);

    display: block;
    padding: 0;
    margin-right: 8px;

    cursor: pointer;
}

.slider-bullet-item-active {
    background-color: #FCFCFC;
}

.social-list {
  display: grid;  
  gap: 16px;
  grid-template-columns: repeat(3, 24px);
  margin-left: auto;
}

.social-link {
    display: block;

    width: 24px;
    height: 24px;

    border-radius: 50%;
    outline: 2px solid rgba(252, 252, 252, 0.3);
}


.button {
    display: block;

    width: 152px;
    padding: 10px;

    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #2D3440;
    text-decoration: none;

    text-align: center;

    border: 2px solid transparent;
    border-radius: 26px;
    outline: 4px solid rgba(252, 252, 252, 0.4);
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);

    cursor: pointer;
}

.main-button {
    background-color: #FCFCFC;

    width: 176px;
}

.form-button {
    color: #FCFCFC;
    background-color: #FF2F64; 
    outline: 4px solid rgba(255, 47, 100, 0.3);
}

.main-button-slider {
    width: 139px;
}

.form-button-address {
    width: 250px;
}

.subtitle {
    font-size: 32px;
    line-height: 46px;
    font-weight: 900;

    margin: 0;
    
    text-align: center;
}

.promotion {
    padding: 80px 0 40px;
}

.promotion .subtitle {
    width: 434px;

    margin: 0 auto 55px;
}

.promotion-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.promotion-item {
    padding: 36px;
    padding-right: 206px;

    background-color: #FF7799;
    background-repeat: no-repeat;
    background-position: right bottom;

    border-radius: 16px;
}

.promotion-item-raspberry {
    background-image: url("../images/backgrounds/banner1.png"); 
}

.promotion-item-marshmallow {
    background-image: url("../images/backgrounds/banner2.png");
}

.promotion-item h4 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;

    margin: 0;
    margin-bottom: 24px;
}

.promotion-item p {
    margin: 0;
    margin-bottom: 24px;
}

.catalog .subtitle {
    width: 527px;
    margin: 0 auto 56px;
}

.catalog-popular {
    padding: 40px 0 80px;
}

.catalog-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 38px 30px;
}

.catalog-item {
    padding-top: 53px;

    position: relative;

    display: flex;
}

.catalog-item-wrapper {
    background-color: #FCFCFC;
    
    padding: 0 40px 24px;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
}

.catalog-item-img {
    margin: -51px auto 16px;

    width: 168px;  
    height: 168px;
    order: -1;
}

.catalog-item-img img {
    width: 100%;
    height: 100%;
    display: block;

    border-radius: 50%;
}

.catalog-item-title,
.catalog-item-price {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
}

.catalog-item-title {
    text-align: center;

    margin: 0;
    margin-bottom: 8px;
}

.catalog-item-descript {
    color: #565C66;
    text-align: center;

    margin: 0;
    margin-bottom: 16px;
}

.catalog-basket-wrapper {
    margin-top: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.catalog-item-basket {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF2F64;

    width: 32px;
    height: 32px;

    border-radius: 50%;
}

.catalog-item-basket svg {
    fill: #FCFCFC;   
}


.advantages {
    background-image: url("../images/backgrounds/adv-pattern.jpg");
    background-repeat: repeat;

    padding: 24px;
    margin-bottom: 80px;

    border-radius: 16px;
}

.advantages-wrapper {
    background-color: #FCFCFC;

    border-radius: 16px;

    padding: 56px 40px 66px; 
}

.advantages-wrapper .subtitle {
    margin-bottom: 56px;
}

.advantages-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 32px;
}

.advantages-item {
    padding-left: 64px;
    position: relative;
}

.advantages-item::before {
    content: "";

    width: 48px;
    height: 48px;
    border: 2px solid #2D3440;
    border-radius: 50%;

    position: absolute;
    left: 0;
    top: 0;

    background-repeat: no-repeat;
    background-position: center;
}

.advantages-item-icecream::before {
    background-image: url("/images/icons/icecream.svg");
}

.advantages-item-cow::before {
    background-image: url("/images/icons/cow.svg"); 
}

.advantages-item-quality::before {
    background-image: url("/images/icons/leaf.svg"); 
}
 
.advantages-item-temperature::before {
    background-image: url("/images/icons/thermometer.svg"); 
}

.blog-subscribe {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    padding-bottom: 80px;
}

.blog-promo {
    background-color: #FCFCFC;
    background-image: url("../images/backgrounds/news-background.jpg");
    background-repeat: no-repeat;

    padding: 32px 235px 67px 32px;

    border-radius: 16px;
}

.blog-promo-text {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;

    margin: 0;
    margin-bottom: 12px;
}

.blog-promo-link {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #2D3440;
    text-decoration: none;
}

.subscribe {  
    background-image: url("../images/backgrounds/subscribe-background.png");
    background-repeat: no-repeat;

    padding: 6px;

    border-radius: 16px;
}

.subscribe-wrapper {
    background-color: #FCFCFC;

    padding: 26px;

    border-radius: 16px;
}

.subscribe-wrapper p {
    margin: 0;
    margin-bottom: 46px;
}

.subscribe-form {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 18px;
}

.form-input {
    border: 1px solid #B9B9B9;
    border-radius: 4px;
    background-color: #ffffff;

    width: 100%;
    height: 48px;
    padding: 5px 15px;

    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    font-family: "Inter", "Geneva", sans-serif;
    color: #2d3440;
}


.delivery {
    background-image: url("../images/backgrounds/delivery-background.jpg");
    background-repeat: no-repeat;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 60px 60px 60px 100px;
    margin-bottom: 80px;

    border-radius: 16px;
}

.delivery-text-wrapper {
    width: 371px;
}

.delivery-text {
    margin: 0;
}

.delivery-text-wrapper .subtitle {
    text-align: start;

    margin-bottom: 24px;
}

.delivery-form-wrapper {
    background-color: #FCFCFC;

    width: 500px;
    border-radius: 16px;

    padding: 40px;
}

.delivery-form-wrapper > p {
    margin: 0;
    margin-bottom: 17px;
}

.delivery-form {
    display: grid;
    grid-template-columns: 117px 1fr;
    gap: 20px 16px;

    padding-top: 15px;
}

.delivery-form-group-address {
    grid-column: 1/-1;
}

.delivery-form p {
    margin: 0;
}

.delivery-form-label {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;

    display: inline-block;
    margin-bottom: 8px;
}

.delivery-form-button {
    grid-column: 1/-1;

    margin: 12px auto 0;
}

.delivery-form-group {
    position: relative;
}

.tooltip {
    position: absolute;
    top: 4px;
    left: 44px;
}

.tooltip-address {
    left: 56px;
}

.tooltip-toggle {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    display: block;
}

.tooltip-text {
    position: absolute;
    top: -12px;
    left: 21px;
    z-index: 1;

    display: none;
    max-width: 170px;
    width: max-content;

    background-color: #FCFCFC;

    border: 1px solid #B9B9B9;
    padding: 10px 8px;

    color: #565C66;
    font-size: 12px;
    line-height: 16px;
}

.tooltip-text::before {
    content: "";

    position: absolute;
    top: 13px;
    left: -5px;

    width: 10px;
    height: 10px;

    border-style: solid;
    border-width: 1px;
    border-color: #B9B9B9 transparent transparent #B9B9B9;
    background-color: #FCFCFC;

    transform: rotate(-45deg);
}

.tooltip-toggle:hover + .tooltip-text {
    display: block;
}

.contacts {
    background-image: url("../images/backgrounds/contacts-background.jpg");
    background-repeat: no-repeat;

    padding: 64px;

    border-radius: 16px;
}

.contacts-wrapper {
    background-color: #FCFCFC;

    width: 343px;
    padding: 40px;

    border-radius: 8px;
}

.contacts-subtitle {
    display: inline-block;

    font-weight: 400; 
    
    margin: 0;
    margin-bottom: 12px;
}

.contacts-address {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    color: #2D3440;

    margin-bottom: 24px;
}

.contacts-info {
    display: inline-block;

    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    color: #2D3440;
}

.contacts-schedule {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    
    display: block;

    margin-bottom: 32px;
}

.main-footer{
    display: flex;
    justify-content: space-between;

    padding: 48px 0;
}

.footer-social-list {
    min-width: 200px;
    margin-left: 0;
}

.footer-navigation-list {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    gap: 8px 24px;

    padding-left: 24px;
}

.footer-navigation-link {
    font-size: 14px;
    line-height: 20px;

    text-decoration: none;
    color: #2D3440;
}

.footer-navigation-heart {
    font-weight: 700;

    position: relative;
}

.footer-navigation-heart::before {
    content: "";

    width: 16px;
    height: 16px;

    background-image: url(/images/icons/heart.svg);
    background-repeat: no-repeat;

    position: absolute;
    left: -24px;
    top: 2px;
}

.inner-footer-border {
    border-top: 1px solid rgba(252, 252, 252, 0.3);  
}

.copyright {
    padding-right: 14px;
}

.copyright-link-image {
    display: inline-block;
    margin-bottom: 14px;
}

.copyright-link-image img {
    display: block;

    width: 100%;
    height: 100%;
}

.copyright-text { 
    margin: 0;    
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
}

.copyright-link-text {
    color: #2D3440;
}

.breadcrumbs .subtitle {
    text-align: start;
}

.breadcrumbs-list {
    display: flex;
    margin-bottom: 16px;
}

.breadcrumbs-link {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    text-decoration: none;
    color: #2D3440;

    padding-right: 28px;
}

.catalog-filters {
    padding: 40px 0 44px;
    
}

.catalog-filters-form {
    display: flex;
    flex-wrap: wrap;
    
}

.catalog-filters-item {
    border: none;
    padding: 0;
    margin: 0;
    margin-bottom: 16px;
}

.catalog-filters-range {
    width: 196px;
}
   

.catalog-filters-checkbox p {
    padding: 10px 24px;
}

.filter-subtitle {
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;

    margin-bottom: 8px;
}

.filters-option {
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
}

.catalog-filters-item select {
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;

    background-color: rgba(252, 252, 252, 0.3);

    border: none;
    border-radius: 20px;

    padding: 8px 63px 8px 16px;

    appearance: none;
}

.catalog-price-input {
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
}

.catalog-filters-item label {
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
}

.catalog-filters-wrapper {
    border-radius: 20px;
    background-color: rgba(252, 252, 252, 0.3);
    display: flex;
}

.catalog-filters-button {
    font-size: 14px;
    background-color: rgba(252, 252, 252, 0.3);

    align-self: center;
    padding: 8px 0;
    margin: 10px 0 0 16px;

    outline: none;
    border: 2px solid #FCFCFC;
}

.catalog-filters-item p {
    font-size: 14px;
    
    margin: 0;
    padding: 8px 16px;
}

.pagination-main-button {
    margin: 0 auto;
}

.pagination-wrapper {
    position: relative;

    padding-top: 57px;
    padding-bottom: 40px;
    margin-bottom: 40px
}

.pagination {
    display: flex;
    align-items: center;

    position: absolute;
    right: 0;
    top: 67px;
}

.pagination-list {
    display: flex;
    margin: 0 8px;
}

.pagination-link {
   line-height: 20px;
   text-decoration: none;
   color: #2D3440; 

   padding: 2px 7px;
   border: 1px solid transparent;
   border-radius: 76px;

   display: block;
}

.pagination-link-active {
    background-color: #FCFCFC;  
}

.pagination-arrow {
    border: none;
    width: 16px;
    height: 16px;
    padding: 0;
    background: none;
    color: transparent;

    position: relative;

    cursor: pointer;
}

.pagination-arrow:disabled {
    opacity: 40%;
    cursor: default;
}

.pagination-arrow-next {
    transform: rotate(180deg);
}

.pagination-arrow::before {
    content: "";

    width: 1px;
    height: 7px;

    position: absolute;
    left: 7px;
    top: 2px;

    background-color: #2D3440;

    border-radius: 20px;

    transform: rotate(45deg);
}

.pagination-arrow::after {
    content: "";

    width: 1px;
    height: 7px;

    position: absolute;
    top: 7px;
    right: 8px;

    background-color: #2D3440;

    border-radius: 20px;

    transform: rotate(-45deg);
}

/* состояния элементов */

.navigation-link:hover {
    background-color: rgba(252, 252, 252, 0.5);  
}

.navigation-link:focus {
    background-color: rgba(252, 252, 252, 0.5);
    border-color: rgba(45, 52, 64, 1); 
    outline: none; 
}

.navigation-link:active {
    background-color: rgba(252, 252, 252);  
    border-color: transparent;
}


.user-navigation-link:hover {
    background-color: rgba(252, 252, 252, 0.5);  
}

.user-navigation-link:focus {
    background-color: rgba(252, 252, 252, 0.5);
    border-color: rgba(45, 52, 64, 1);  
    outline: none;
}

.user-navigation-link:active {
    background-color: rgba(252, 252, 252); 
    border-color: transparent; 
}

.navigation-link-selected {
    background-color: #FF4A78;
}

.user-navigation-link-selected {
    background-color: #FF4A78;
}

.slider-button:hover {
    background-color: #FCFCFC;
}

.slider-button:hover::before {
    background-color: #2D3440;
}

.slider-button:hover::after {
    background-color: #2D3440;
}

.slider-button:focus {
    border-color: #2D3440;
    background-color: rgba(252, 252, 252, 0.3);
    outline: none;
}

.slider-button:focus::before {
    background-color: #2D3440;
}

.slider-button:focus::after {
    background-color: #2D3440;
}

.slider-button:active {
    border-color: transparent;
    background-color: rgba(252, 252, 252, 0.5);
}

.slider-button:disabled {
    border-color: rgba(252, 252, 252, 0.4);
    background-color: rgba(252, 252, 252, 0.3);
}

.slider-button:disabled::before {
    background-color: rgba(252, 252, 252, 0.4);
}

.slider-button:disabled::after {
    background-color: rgba(252, 252, 252, 0.4);
}

.slider-bullet-item:hover {
    border-color: rgba(252, 252, 252, 1);   
}

.slider-bullet-item:focus {
    border-color: #2D3440;
    outline: none;   
}

.slider-bullet-item:active {
    border-color: transparent; 
    background-color: #FCFCFC;  
}

.social-link:hover {
    background-color: #2D3440;
}

.social-link:focus {
    background-color: #2D3440;
    outline-color: #2D3440;
}

.social-link:active {
   opacity: 0.5;
}

.main-button:hover {
    background-color: rgba(252, 252, 252, 0.4);
    outline-color: #FCFCFC;
}

.main-button:focus {
    background-color: rgba(252, 252, 252, 0.5);
    outline: 2px solid rgba(45, 52, 64, 1);
}

.main-button:active {
    background-color: rgba(252, 252, 252, 1);
}

.form-button:hover {
    background-color: rgba(252, 252, 252, 0.3);
    outline-color: #FF2F64;
    color: #2D3440;
}

.form-button:focus {
    background-color: #FF2F64;
    outline: 2px solid #2D3440;
    color: #FCFCFC;
}

.form-button:active {
    background-color: #FEAFC3;
    outline: 2px solid #2D3440;
    color: #FCFCFC;
}

.catalog-item-basket:hover {
    background-color: #FCFCFC;
    border: 2px solid #FF2F64;   
}

.catalog-item-basket:hover path {
    fill: #000;
}

.catalog-item-basket:focus {
    background-color: #FF2F64;
    border: 2px solid #2D3440;   
}

.catalog-item-basket:focus path {
    fill: #FCFCFC;
}

.catalog-item-basket:active {
    background-color: #FFCBD8;
    border: 2px solid #FF2F64;   
}

.catalog-item-basket:active path {
    fill: #000;
}

.basket-disabled {
    background-color: rgba(185, 185, 185, 1);
    border: transparent; 
    cursor: default;  
}

.basket-disabled path {
    fill: rgba(86, 92, 102, 1);
}

.pagination-link:hover {
    background-color: rgba(252, 252, 252, 0.5);
}

.pagination-link:focus {
    background-color: rgba(252, 252, 252, 0.5);
    border: 1px solid rgba(45, 52, 64, 1);
}

.pagination-link:active {
    background-color: rgba(252, 252, 252, 0.5);
    border: 1px solid rgba(252, 252, 252, 1);
}




